body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
  text-align: center;
  margin-top: 20px;
  font-size: 2em;
}

nav {
  text-align: center;
  margin-bottom: 20px;
}

nav a {
  color: #007bff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 1.2em;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ffdd57;
  text-decoration: underline;
}

.error {
  color: red;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

.ppc-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.ppc-item {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  transition: transform 0.2s ease;
}

.ppc-item:hover {
  transform: translateY(-5px);
}

.ppc-item h2 {
  color: #007bff;
  font-size: 1.6em;
  margin-top: 0;
}

.ppc-item p {
  color: #555;
  font-size: 1em;
}

.create-link {
  display: block;
  text-align: center;
  margin: 20px auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.create-link:hover {
  background-color: #0056b3;
}

/* Estilização da página de edição */
.ppc-edit-form {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  margin: 20px auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ppc-edit-form label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em;
  color: #333;
}

.ppc-edit-form input,
.ppc-edit-form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1em;
}

.ppc-edit-form button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.ppc-edit-form button:hover {
  background-color: #0056b3;
}

.ppc-edit-form button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
